<div class="question" *ngIf="currentQuestion && !surveyComplete">
    <div class="title">Question {{ currentQuestion.id + 1 }}: {{ currentQuestion.title }}</div>
    <div class="answers">
        <div (click)="answerQuestion($event, option)" 
             class="answer answer-button"
             *ngFor="let option of currentQuestion.options"
             [ngClass]="renderAnswerClasses(option)">
            {{ option.name }}
        </div>
    </div>
</div>
<div class="question" *ngIf="surveyComplete">
    <div class="title"><u>Survey Complete</u></div>
    <div class="description">Results: <b>{{ surveyResultCategory }}</b></div>
    <div class="answers">
        <div (click)="exit()" class="answer answer-button">
            Return Home
        </div>
    </div>
</div>
<div class="navigation">
    <div class="back answer-button" *ngIf="showBack" (click)="back()">GO BACK</div>
    <div class="next answer-button" *ngIf="showNext" (click)="next()">NEXT</div>
</div>
